add_newline = false
format = """
$os\
$directory\
$git_branch\
$git_status\
$character\
$cmd_duration"""

[character]
success_symbol = '[\$](cyan)'
error_symbol = '[\$](red)'
vimcmd_symbol = '[\$](bold green)'

[directory]
truncation_length = 8
truncation_symbol = '…/'
style ='white'
read_only = ' [!]'
read_only_style = 'yellow'

[git_branch]
style = 'bold green'

[git_metrics]
disabled = false

[git_status]
ahead = ' ⇡ ${count}'
diverged = '⇕ ⇡ ${ahead_count} ⇣ ${behind_count}'
behind = '⇣ ${count}'
format = '([\[$all_status$ahead_behind\]]($style) )'
style = 'red'

[cmd_duration]
disabled = false
format = '[$duration]($style) '
style = 'yellow'
min_time = 6000
