/* My vision of: https://github.com/kepano/flexoki/blob/main/gtk/gtk-4.0/gtk-dark.css */
/* Needs adw-gtk3: https://github.com/lassekongo83/adw-gtk3 */
@define-color window_bg_color #100F0F;
@define-color window_fg_color #CECDC3;
@define-color view_bg_color #1C1B1A;
@define-color view_fg_color @window_fg_color;
@define-color accent_bg_color #205EA6;
@define-color accent_color @accent_bg_color;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color secondary_sidebar_bg_color @accent_bg_color;
@define-color secondary_sidebar_fg_color @view_fg_color;
@define-color secondary_sidebar_backdrop_color @view_bg_color;
@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color popover_bg_color #282726;
@define-color popover_fg_color @view_fg_color;
@define-color dialog_bg_color @popover_bg_color;
@define-color dialog_fg_color @popover_fg_color;
@define-color card_bg_color @window_bg_color;
@define-color card_fg_color @window_fg_color;

/** General tweaks for WM:s */
.titlebar,
window {
  border-radius: 0;
  box-shadow: none;
}
.window-frame {
  box-shadow: 0 0 0 0;
  margin: 0;
}
decoration:backdrop {
  box-shadow: none;
}
window decoration {
  margin: 0;
  border: none;
  padding: 0;
}

/* No (default) title bar on wayland */
headerbar.default-decoration {
  /* You may need to tweak these values depending on your GTK theme */
  margin-bottom: 50px;
  margin-top: -100px;
}

/* rm -rf window shadows */
window.csd,             /* gtk4? */
window.csd decoration {
  /* gtk3 */
  box-shadow: none;
}
