/* -----------------------------------------------------
 *                      Config
 * ----------------------------------------------------- */
/* Colors */
@define-color bg #161616;
@define-color bg2 #262626;
@define-color bg3 #393939;
@define-color bg4 #525252;
@define-color fg #D8D8D8;
@define-color fg2 #c6c6c6;
@define-color red #DA1E28;
@define-color blue #78A9FF;
@define-color purple #BE95FF;

* {
  font-family:
    JetBrains Mono,
    Symbols Nerd Font Mono,
    sans-serif;
  font-size: 14px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition: none;
}

/* -----------------------------------------------------
 *                      Window
 * ----------------------------------------------------- */

window#waybar {
  background-color: @bg;
}

#window {
  color: @fg;
  padding: 0 10px;
}

/* -----------------------------------------------------
 *                      Tooltip
 * ----------------------------------------------------- */

tooltip {
  background: @bg;
  border: solid 1px @bg3;
}

tooltip label {
  color: @fg;
}

/* -----------------------------------------------------
 *                  River Tags
 * ----------------------------------------------------- */

#tags {
  padding: 0px 5px;
}

#tags button {
  color: @bg4;
  padding: 0px 5px;
  font-weight: normal;
  margin: 2px 2px;
}

#tags button.occupied {
  color: @fg;
}

#tags button.focused {
  color: @fg;
  background-color: @bg3;
  font-weight: normal;
  border-radius: 2px;
}

#tags button.urgent {
  color: @purple;
}
/* Dirty hack to hide vacant tags in River */
#tags button:not(.occupied):not(.focused) {
  font-size: 0;
  min-width: 0;
  min-height: 0;
  margin: -17px;
  padding: 0;
  border: 0;
  opacity: 0;
  box-shadow: none;
  background-color: transparent;
}

/* -----------------------------------------------------
 *                      Modules
 * ----------------------------------------------------- */

#battery,
#custom-pipewire,
#custom-mic,
#cpu,
#user,
#memory,
#custom-swayidle,
#tray,
#battery.charging,
#battery.plugged,
#network {
  color: @fg;
  padding: 0 8px;
}

#custom-weather,
#custom-moon,
#custom-sep {
  color: @fg2;
  padding: 0 6px;
}
#custom-markl,
#custom-markr {
  color: @bg4;
  padding: 0 6px;
}
#mpris {
  color: @fg2;
  padding: 0 10px;
}

#clock.1,
#clock.2 {
  color: @fg;
  padding: 0 6px;
}

#custom-power {
  color: @fg;
  padding: 0 10px;
}
