/**
 * @name midnight (flexoki)
 * @author bitterhalt
 * @version 1.0.1
*/

@import url("https://refact0r.github.io/midnight-discord/build/midnight.css");

body {
  --font: "JetBrains Mono";

  --gap: 12px;
  --divider-thickness: 4px;

  --animations: on;
  --list-item-transition: 0.2s ease;
  --dms-icon-svg-transition: 0.4s ease;

  --move-top-bar-buttons: off;
  --custom-app-top-bar-height: 32px;

  --custom-window-controls: on;
  --window-control-size: 14px;

  --dms-icon: on;
  --dms-icon-svg-url: url("https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg");
  --dms-icon-svg-size: 90%;
  --dms-icon-color-before: var(--icon-primary);
  --dms-icon-color-after: var(--white);

  --dms-background: off;

  --background-image: off;
  --background-image-url: url("");

  --transparency-tweaks: off;
  --remove-bg-layer: off;
  --panel-blur: off;
  --blur-amount: 12px;
  --bg-floating: var(--bg-3);

  --flipped-chatbar: on;
  --chatbar-height: 52px;
  --chatbar-padding: 0px;

  --small-user-panel: off;
}

:root {
  --colors: on;

  --s0-loc: #100f0f;
  --s1-loc: #1c1b1b;
  --s2-loc: #282726;
  --s3-loc: #878580;
  --s4-loc: #cecdc3;
  --s5-loc: #ffffff;
  --s6-loc: #24837b;

  --text-0: var(--s5-loc);
  --text-1: var(--s5-loc);
  --text-2: var(--s5-loc);
  --text-3: var(--s4-loc);
  --text-4: var(--s3-loc);
  --text-5: var(--s3-loc);

  --bg-1: var(--s2-loc);
  --bg-2: var(--s0-loc);
  --bg-overlay-app-frame: var(--s0-loc);
  --bg-3: var(--s1-loc);
  --bg-4: var(--s1-loc);
  --bg-overlay-floating: var(--s1-loc);
  --bg-overlay-chat: var(--s0-loc);
  --hover: var(--s0-loc);
  --active: var(--s2-loc);
  --active-2: var(--s0-loc);
  --message-hover: var(--s2-loc);

  --accent-1: var(--s4-loc);
  --accent-2: var(--s2-loc);
  --accent-3: var(--s6-loc);
  --accent-4: var(--s0-loc);
  --accent-5: var(--s1-loc);
  --accent-new: var(--s3-loc);
  --mention: var(--s1-loc);
  --mention-hover: var(--s2-loc);
  --reply: var(--s1-loc);
  --reply-hover: var(--s2-loc);

  --online: hsl(130, 40%, 55%);
  --dnd: hsl(355, 40%, 55%);
  --idle: hsl(58, 40%, 55%);
  --streaming: hsl(262, 40%, 55%);
  --offline: var(--s3-loc);

  --border-light: hsla(0, 0%, 0%, 0);
  --border: hsla(0, 0%, 0%, 0);
  --button-border: hsla(0, 0%, 0%, 0);
  --chat-background-default: var(--s1-loc) !important;
}

body {
  .chatContent_f75fb0 {
    background: transparent !important;
  }
  .container_f369db {
    background: transparent !important;
  }
}
