[Desktop Entry]
Name=Vesktop
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=startvesktop dev.vencord.Vesktop --disable-gpu-memory-buffer-video-frames
Terminal=false
Type=Application
Icon=dev.vencord.Vesktop
StartupWMClass=Vesktop
X-AppImage-Version=1.5.3
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;
X-Desktop-File-Install-Version=0.27
X-Flatpak=dev.vencord.Vesktop
