/* -----------------------------------------------------
 *                      Config
 * ----------------------------------------------------- */
@define-color bg-1 #100f0f;
@define-color bg-2 #1C1B1A;
@define-color bg-3 #282726;
@define-color bg-4 #343331;
@define-color bg-5 #403E3C;
@define-color text-1 #CECDC3;
@define-color text-2 #B7B5AC;
@define-color text-3 #9F9D96;
@define-color text-4 #878580;
@define-color red #AF3029;
@define-color purple #A02F6F;
@define-color cyan #24837B;

* {
  font-family:
    JetBrains Mono,
    Symbols Nerd Font Mono;
  font-size: 14px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition: none;
}

/* -----------------------------------------------------
 *                      Bar
 * ----------------------------------------------------- */
window#waybar {
  color: @text-1;
  background-color: @bg-1;
}

/* -----------------------------------------------------
 *                      Tooltip
 * ----------------------------------------------------- */
tooltip {
  background: @bg-1;
  border: solid 1px @bg-3;
  border-radius: 4px;
}

tooltip label {
  color: @text-1;
}

button:hover {
  background: @bg-2;
}

/* -----------------------------------------------------
 *                  Sway Modules
 * ----------------------------------------------------- */
#workspaces {
  background-color: @bg-1;
  padding: 0px 5px;
}
#workspaces button {
  color: @text-2;
  font-weight: normal;
  padding: 0px 5px;
  margin: 2px 0px;
}
#workspaces button.focused {
  color: @cyan;
  font-weight: normal;
  box-shadow: inset 0 0 0 1px @bg-3;
  border-radius: 4px;
}

#workspaces button.urgent {
  color: @purple;
}
#mode {
  color: @cyan;
  padding: 0 10px;
  margin: 2px 0px;
  box-shadow: inset 0 0 0 1px @bg-3;
  border-radius: 4px;
}
#window {
  color: @text-2;
  padding: 0 10px;
}
/* -----------------------------------------------------
 *                      Modules
 * ----------------------------------------------------- */
#battery,
#custom-pipewire,
#custom-mic,
#custom-swayidle,
#cpu,
#memory,
#network {
  color: @text-1;
  padding: 0 10px;
}
#tray {
  padding: 0 10px;
  margin: 2px 0px;
  box-shadow: inset 0 0 0 1px @bg-3;
  border-radius: 4px;
}
#tray menu {
  background-color: @bg-1;
  border: solid 1px @bg-3;
}
#custom-sep,
#custom-markl,
#custom-markr {
  color: @text-3;
  padding: 0 4px;
}
#custom-clock,
#clock {
  color: @text-1;
  padding: 0 10px;
}
#custom-power {
  color: @text-1;
  padding: 0 10px;
}
