/* -----------------------------------------------------
 *                      Config
 * ----------------------------------------------------- */

@define-color bg #100f0f;
@define-color bg-1 #1C1B1A;
@define-color bg-2 #282726;
@define-color bg-3 #343331;
@define-color bg-4 #575653;
@define-color fg #CECDC3;
@define-color fg-1 #878580;
@define-color red #AF3029;
@define-color purple #A02F6F;
@define-color cyan #24837B;

* {
  font-family:
    JetBrains Mono,
    Symbols Nerd Font Mono,
    sans-serif;
  font-size: 14px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition: none;
}

/* -----------------------------------------------------
 *                      Bar
 * ----------------------------------------------------- */

window#waybar {
  color: @fg;
  background-color: @bg;
}

/* -----------------------------------------------------
 *                      Tooltip
 * ----------------------------------------------------- */

tooltip {
  background: @bg;
  border: solid 1px @bg-3;
}

tooltip label {
  color: @fg;
}

button:hover {
  background: @bg-2;
}

/* -----------------------------------------------------
 *                  Sway Workspaces
 * ----------------------------------------------------- */
#workspaces {
  background-color: @bg;
  padding: 0px 5px;
}

#workspaces button {
  font-weight: normal;
  padding: 0px 5px;
  margin: 1px 0px;
  border-radius: 0px;
  border: solid 1px @bg;
}

#workspaces button.focused {
  color: @cyan;
  font-weight: normal;
  border: solid 1px @bg-2;
}

#workspaces button.urgent {
  color: @purple;
  border: solid 1px @bg-1;
}

#mode {
  color: @cyan;
  padding: 0 10px;
}
/* -----------------------------------------------------
 *                  River Tags
 * ----------------------------------------------------- */

#tags {
  padding: 0px 5px;
}

#tags button {
  font-weight: normal;
  padding: 0px 5px;
  margin: 1px 0px;
  border-radius: 0px;
  border: solid 1px @bg;
}

#tags button.occupied {
  color: @fg;
}

#tags button.focused {
  color: @cyan;
  font-weight: normal;
  border: solid 1px @bg-2;
}

#tags button.urgent {
  color: @purple;
  border: solid 1px @bg-1;
}

/* -----------------------------------------------------
 *                      Modules
 * ----------------------------------------------------- */

#battery,
#custom-pipewire,
#custom-mic,
#custom-swayidle,
#cpu,
#memory,
#tray,
#network {
  color: @fg;
  padding: 0 10px;
}

#tray menu {
  background-color: @bg;
  border: solid 1px @bg-3;
}
#custom-sep,
#custom-markl,
#custom-markr {
  color: @fg-1;
  padding: 0 4px;
}

#custom-clock,
#clock {
  color: @fg;
  padding: 0 4px;
}

#custom-power {
  color: @fg;
  padding: 0 10px;
}
