[Desktop Entry]
Type=Application
Name=Image viewer
Exec=/usr/bin/swayimg %f
Icon=swayimg
MimeType=image/jpeg;image/png;image/gif;image/tiff;image/x-tga;image/bmp;image/webp;
